.footer{
  background-color: #00ad9d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  .wrapper{
    @include box-sizing(border-box);
    padding: 7px 0;
  }
  ul{
    overflow: hidden;
    display: inline-block;
  }

}
.social-menu{
  margin:-5px 0 0;
  li{
    float: left;
    margin: 0 0 0 70px;
    &:first-child{
      margin: 0;
    }
  }
  a{
    color: #ffffff;
    display: block;
    overflow: hidden;
    font-size: 10px;
  }
  i{
    display: inline-block;
  }
}
.footer-img{
  position: absolute;
  left: -58%;
  bottom: 22px;
}
.slippers{
  background: url("../images/slippers.png") no-repeat;
  width: 124px;
  height: 60px;
  display: inline-block;
  top: -51px;
}
.man{
  background: url("../images/men.png");
  width: 142px;
  height: 207px;
}
.site-overlay{
  width: 100%;
  height: 100%;
  @include opacity(.75);
  display: none;
  position: fixed;
  background: #000000;
  top: 0;
  z-index: 1000;
  left: 0;
}
.info-user__in{
  color: #5d5d5d;
  font-family: "HelveticaNeueCyr";
  margin: 21px 0 0;
  p{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px;
    width: 100%;
  }
  span{
    font-family: "HelveticaNeueCyr";
    font-size: 12px;
    display: inline-block;
  }
  .icon-mail{
    font-size: 21px;
    margin: -2px 12px 0 0;
    float: left;
    color: #b7b6b7;
  }
}
.info-user{
  img{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    overflow: hidden;
    display: inline-block;
  }
  button{
    width: 160px;
  }
}
.icon-user{
  font-size: 29px;
  color: #b7b6b7;
  margin: 0 12px 0 0;
  position: relative;
  top: 4px;

}
.icon-mail{
  font-size: 21px;
  margin: -2px 12px 0 0;
  float: left;
  color: #b7b6b7;
  display: inline-block;
  position: relative;
  top: 2px;
}
.back{
  width: 63px;
  height: 63px;
  @include border-radius(2px);
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #a9a9a9;
  @include icon-sprite(back-icon);
  @include box-shadow(inset 0 -3px 0 rgba(0,0,0,.21));
  background-position:  20px -435px;
  &:hover{
    box-shadow: none;
  }

}
.btn-group{
  padding: 46px 0 0;
  clear: both;
  overflow: hidden;
  button{
    float: right;
    &:first-child{
      float: left;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"]{
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
}


@media screen and (max-width: 480px) {
  .content-tel {
    width: 100%;
    margin-top: 0;
  }
}










