.footer{
  background-color: #00ad9d;
  padding: 17px 0 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  .wrapper{
    @include box-sizing(border-box);
    max-width: 475px;
  }
  ul{
    overflow: hidden;
    display: inline-block;
  }

}
.footer-nav-menu{
  margin: -5px 22px 0 0;
  li{
    float: left;
    margin: 0 0 0 20px;
    &:first-child{
      margin: 0;
    }
  }
  a{
    font-size: 12px;
    color: #e9e9e9;
    font-family: "HelveticaNeueCyr";
    text-transform: uppercase;
    text-decoration: none;
  }
}
.social-menu{
  margin:-5px 0 0;
  li{
    float: left;
    margin: 0 0 0 51px;
    &:first-child{
      margin: 0;
    }
  }
  a{
    color: #ffffff;
    display: block;
    height: 15px;
    overflow: hidden;
    font-size: 14px;
  }
  i{
    display: inline-block;
  }
}
.footer-img{
  position: absolute;
  left: -21%;
  bottom: 22px;
}
.slippers{
  background: url("../images/slippers.png") no-repeat;
  width: 124px;
  height: 60px;
  display: inline-block;
  top: -51px;
}
.man{
  background: url("../images/men.png");
  width: 142px;
  height: 207px;
}
.size-popup{
  position: fixed;
  overflow-y: auto;
  top: 0;

  right: 0;
  display: none;
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 28;
}
.popup-wrap{
  display: table;
  width: 100%;
  height: 100%;
}
.popup__in{
  display: table-cell;
  vertical-align: middle;
}
.site-overlay, .popup-overlay{
  width: 100%;
  height: 100%;
  @include opacity(.75);
  display: none;
  position: fixed;
  background: #000000;
  top: 0;
  z-index: 15;
  left: 0;
}
.popup{
  max-width: 549px;
  width: 100%;
  @include border-radius(2px);
  background-color: #e9e9e9;
  @include box-shadow(#e5e5e1 0 0 12px 0px);
  margin: 0 auto;
  z-index: 30;
  padding: 40px 45px 45px 46px;
  @include box-sizing(border-box);
  position: relative;
  display: none;
  img{
    border-radius: 85px;
    float: left;
    margin: 0 51px 0 0;
  }
}
.title-popup{
  color: #5d5d5d;
  font-family: "HelveticaNeueCyr";
  font-size: 20px;
  text-align: center;
  padding: 0 30px;
  margin: 0 0 46px;

}
.info-user__in{
  color: #5d5d5d;
  font-family: "HelveticaNeueCyr";
  padding: 50px 0 0;
  p{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 25px;
  }
  span{
    font-family: "HelveticaNeueCyr";
    font-size: 18px;
    display: inline-block;
  }
  .icon-mail{
    font-size: 21px;
    margin: -2px 12px 0 0;
    float: left;
    color: #b7b6b7;
  }
}
.icon-user{
  font-size: 29px;
  color: #b7b6b7;
  margin: 0 12px 0 0;
  position: relative;
  top: 4px;
}
.icon-mail{
  font-size: 21px;
  margin: -2px 12px 0 0;
  float: left;
  color: #b7b6b7;
  display: inline-block;
  position: relative;
  top: 2px;
}
.back{
  width: 63px;
  height: 63px;
  @include border-radius(2px);
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: #a9a9a9;
  @include icon-sprite(back-icon);
  @include box-shadow(inset 0 -3px 0 rgba(0,0,0,.21));
  background-position:  20px -435px;
  &:hover{
    box-shadow: none;
  }

}
.btn-group{
  padding: 46px 0 0;
  clear: both;
  overflow: hidden;
  button{
    float: right;
    &:first-child{
      float: left;
    }
  }
}
.pass-popup{
  @extend .recover-password;
  position: relative;
  z-index: 30;
  box-shadow: none;

}
.close-popup{
  display: inline-block;
  position: absolute;
  right: -40px;
  top: 2px;
  @include icon-sprite(closu-popup2);
  width: 19px;
  height: 18px;
  opacity: 0.75;
  &:hover{
    opacity: 1;
  }
}
.lt-ie9{
  .open-more-text{
    background: none;
  }
  .orders-icon{
      margin: -3px 10px -5px 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"]{
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  &.error{
    border: 1px solid #ff0000;
    color: red;
  }
}



@media screen and (max-width: 1065px) {
  .link-cabinet{
    margin-right: 10px;
  }
}
@media screen and (max-width: 1052px) {
  .recover-password,
  .login-form,
  .box-right,
  .box-right-button,
  .orders-page,
  .product-info,
  .popup,
  .profile-user{
    padding-left: 7% !important;
    padding-right: 7% !important;
  }

}
@media screen and (max-width: 1032px) {
  .recover-password,
  .login-form,
  .box-right,
  .box-right-button,
  .orders-page,
  .product-info,
  .popup,
  .profile-user{
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
@media screen and (max-width: 966px) {
  .recover-password,
  .login-form,
  .box-right,
  .box-right-button,
  .orders-page,
  .product-info,
  .popup,
  .profile-user{
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
}
@media screen and (max-width: 926px) {
  .recover-password,
  .login-form,
  .box-right,
  .box-right-button,
  .orders-page,
  .product-info,
  .popup,
  .profile-user{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
@media screen and (max-width: 899px) {
  .small-text,
  .choice-product textarea{
    width: 73.5%;
  }
  .preview-product p{
    margin-right: -31px;
    font-size: 15px;
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 10%;
  }
  .content-menu {
    margin: 0 -30px 0 -10px;
    li a{
      padding: 0 182px 7px;
    }
  }
  .box-right,
  .box-right-button{
    text-align: center;
  }
  .orders-data{
    li{
      width: 50%;
      margin: 0 0 5px !important;
    }
  }
  .link-cabinet{
    margin-right: 0;
  }
  .open-more-text{
    width: 75%;
  }
  h4{
    width: 100%;
    text-align: center;
    margin: 0;
    & + .tagsinput{
      width: 100%;
      #tags_1_tagsinput{
        width: 100% !important;
      }
    }
  }
}
@media screen and (max-width: 870px) {
  .preview-gallery a, .add-photo{
    margin: 0 0 0 9.5%;
  }
  .content-menu {
    li a{
      padding: 0 172px 7px;
    }
  }
}
@media screen and (max-width: 845px) {
  .small-text,
  .choice-product textarea{
    width: 72%;
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 8.5%;
  }
  .content-menu {
    li a{
      padding: 0 162px 7px;
    }
  }
}
@media screen and (max-width: 819px) {
  .content-menu {
    li a{
      padding: 0 155px 7px;
    }
  }
}
@media screen and (max-width: 805px) {
  header{
    .wrapper{
      padding: 0 10px !important;
    }
  }
  .small-text,
  .choice-product textarea{
    width: 532px;
  }
  .preview-product p{
    margin-right: -31px;
    font-size: 15px;
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 5.4%;
  }
  .content-menu li a{
    padding: 0 145px 7px;
  }
  .box-right,
  .box-right-button{
    text-align: center;
  }
  .orders-data{
    li{
      width: 50%;
      margin: 0 0 5px !important;
    }
  }
  .link-cabinet{
    margin-right: 0;
  }
  .open-more-text{
    width: 426px;
  }
  h4{
    width: 100%;
    text-align: center;
    margin: 0;
    & + .tagsinput{
      width: 100%;
      #tags_1_tagsinput{
        width: 100% !important;
      }
    }
  }
  .preview-gallery .icon-trash-o{
    left: 90%;
  }

}
@media screen and (max-width: 782px) {
  .small-text,
  .choice-product textarea{
    width: 68%;
  }
  .preview-product p{
    display: none;
  }
  .preview-gallery .icon-trash-o{
    left: 93%;
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 11.5%;
  }
  .content-menu li a{
    padding: 0 135px 7px;
  }
  .select-categories .bt-dropdown,
  .select-categories,
  #tags_1_tagsinput,
  .tagsinput,
  .select-categories .bt-dropdown-toggle {
    width: 100% !important;
  }
  .select-categories{
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 764px) {
  .content-menu li a{
    padding: 0 125px 7px;
  }
}
@media screen and (max-width: 753px) {
  .preview-gallery a, .add-photo{
    margin: 0 0 0 10.8%;
  }
  .content-menu li a{
    padding: 0 112px 7px;
  }
  .open-more-text{
    width: 77%;
  }
}
@media screen and (max-width: 719px) {
  .small-text,
  .choice-product textarea{
    width: 66%;
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 10%;
  }
  .content-menu {
    margin-left: -20px;
    li a{
      padding: 0 102px 7px;
    }
  }
  .contact-user__in{
    p{
      margin: 0 auto;
    }
  }
  .photo-user,
  .photo-user img{
    width: 285px;
  }
}
@media screen and (max-width: 684px) {
  .select-box{
    text-align: center;
    .select-box-in{
      float: none;
    }
  }
  .content-tel{
    float: none;
    margin: 0 auto 15px;
    width: 288px;
    input{
      width: 190px;
    }
  }
  .content-menu {
    margin-left: -35px;
    li a{
      padding: 0 95px 7px;
    }
  }
  .orders-text p{
    overflow: visible;
  }
  .open-more-text{
    width: 65%;
  }
  .photo-user{
    margin: 0 auto 30px;
    float: none;
  }
  .contact-user__in{
    text-align: center;
    float: none !important;
    overflow: hidden;
    width: 100%;
    p{
      margin: 0 auto;
    }
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 6.2%;
    width: 18%;
  }
  .preview-gallery .icon-trash-o{
    left: 95%;
  }
  .pass-popup, .popup{
    padding-top: 15px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 678px) {
  .small-text,
  .choice-product textarea{
    width: 63.5%;
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 5.5%;
  }
  .content-menu {
    margin-left: -45px;
    li a{
      padding: 0 91px 7px;
    }
  }
}

@media screen and (max-width: 640px) {
  .logo{
    position: relative;
    left: 5px;
  }
  .big-search{
    input[type="text"]{
      margin-bottom: 15px !important;
    }
  }
  .small-text,
  .choice-product textarea {
    width: 61%;
  }
  .preview-product p {
    display: none;
  }
  .preview-gallery a, .add-photo {
    margin: 0 0 0 6.3%;
    width: 17.6%;
  }
  .content-menu {
    margin-left: -30px;
    margin-right: -30px;
    li a {
      padding: 0 70px 7px;
    }
  }
  .footer-nav-menu {
    margin-right: 15px;
  }
  .pushy{
    background: none repeat scroll 0 0 #df5f4b;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 9999;
    transition: transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s;

  }
  .pushy-left {
    transform: translate3d(-250px, 0px, 0px);
  }
  .pushy-open {
    transform: translate3d(0px, 0px, 0px);
  }
  .nav-menu{
    a{
      padding: 0 0 0 12px;
    }
  }
}
@media screen and (max-width: 599px) {
  .small-text,
  .choice-product textarea{
    width: 55%;
  }
  .content-menu {
    margin-left: 0;
    margin-right: 0;
    li {
      float: none;
      text-align: center;
      padding: 5px 0;

      a{
        width: 100%;
      }
    }
    .preview-gallery a, .add-photo{
      width: 16.5%;
    }
  }
}
@media screen and (max-width: 560px) {
  .header{
    padding: 35px 0 16px;
  }
  .logo{
    width: 162px;
    height: 26px;
  }
  .link-cabinet{
    font-size: 0;
    margin: 0 0px 0 0;
  }
  .close-popup{
    right: 0;
  }
  .big-search{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin: 0;
    input[type="text"]{
      margin-bottom: 15px;
      float: none;
    }
  }
  .cash{
    text-align: center;
    padding: 15px 0 0;
    input{
      margin: 15px 13px 0 22px;
    }
  }
  .contact-user p{
    display: inline-block;
    width: auto;
    min-width: 296px;
    .icon-plus{
      right: 9px;
    }
  }
  .contact-user__in{
    width: 100%;
    padding: 0 5px;
  }
  .preview-product{
    p{
      display: none;
    }
  }
  .select-box{
    margin: 7px auto 15px;
    width: 274px;
    float: none;
  }
  .quantity-product{
    width: 100%;
    float: none;
    padding: 0 0 0 10px;
    overflow: hidden;
    p{
      line-height: normal;
      margin: 13px -9px 0 0;
    }
  }
  .stepper{
    margin-right: 15px;
    float: right;
  }
  .datepicker{
    p{
      width: 100%;
      margin-bottom: 15px;
      padding: 0 0 0 7px;
      text-align: left;
    }
  }
  .gldp-default{
    margin: -15px auto 0 ;
    float: none;

  }
  .content-tel{
    margin: 0 auto 15px;
    float: none;
    display: block;
    width: 292px;
    input{
      width: 188px;
    }

  }
  .login-bottom{
    a{
      padding: 15px 0 0;
    }
  }
  .small-text,
  .choice-product textarea{
    width: 100%;
  }
  .contact-user input[type="text"],
  .contact-user input[type="email"]{
    width: 80%;
  }
  .man{
    @extend .slippers;
  }
  .slippers{
    top: -56px;
  }
  .form-item{
    label{
      padding: 0;
    }
    span{
      padding: 0;
    }
  }
  .login-form-item{
    padding: 0 0 0 15px;
    width: 100%;
    input{
      width: 100%;

    }
  }
  .select-categories{
    margin: 0;
  }
  .content-menu{
    li{
      float: none;
      padding: 10px 0 0;
    }
    a{
      width: 100%;
      padding: 0 !important;
      text-align: center;
    }
  }
  .tagsinput{
    float: left;
    clear: left;
    width: 100%;
  }
  .select-categories .bt-dropdown,
  .select-categories,
  #tags_1_tagsinput,
  .select-categories .bt-dropdown-toggle{
    width: 100% !important;
  }
  .select-categories .bt-dropdown-toggle,
  #tags_1_tagsinput{
    padding-left: 5px;
  }
  .select-categories{
    margin: 0 0 15px;
  }
  .orders-item{
    width: 100%;
    overflow: hidden;
  }
  .small-preview {
    text-align: center;
    margin: 0;
    ul{
      display: inline-block;
    }
    img{
      width: 60px;
      height: 60px;
    }
  }
  .form-item{
    input[type="text"], input[type="password"], input[type="email"]{
      width: 100% !important;
    }
  }  .box-right,
     .box-right,
     .box-right-button{
       float: none;
       width: 100%;
       text-align: center;
       margin: 0 0 15px;
       &.btn-group{
         padding: 14px 30px !important;
       }

     }
  .box-right p,
  .box-right-button p{
    margin: 0 0 10px;
  }
  .box-right-button{
    button{
      margin-top: 0;
    }
  }
  .orders-tags li{
    float: none;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
  }
  .orders-info{
    width: 145px;
  }
  .footer{
    .wrapper{
      padding: 0;
      text-align: center;
    }
    ul{
      overflow: hidden;
    }
  }
  .footer-img{
    left: 0;
  }
  .info-user{
    text-align: center;
    img{
      float: none;
      margin-right: 0;
    }
  }
  .preview-gallery a, .add-photo{
    margin: 0 0 0 5%;
    width: 18%;
    height: 70px;
    img{
      height: 70px;
    }

  }
  .add-photo{}

  .preview-gallery{
    height: 72px;
    .icon-trash-o{
      margin: 25px 0 0 -6px;
    }
  }
  .footer ul{
    display: inline-block;
    margin-right: 0;
  }
  .footer-nav-menu{
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .open-more-text{
    width: 64%;
  }
}
@media screen and (max-width: 460px) {
  .form-item{
    input[type="text"], input[type="password"], input[type="email"]{
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 440px) {
  .open-more-text{
    width: 60%;
  }}











