.header {
  width: 100%;
  background-color: #b05649;
  padding: 10px 12px 12px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 35px;
  @include box-sizing(border-box);
  
}
.logo{
  background: url("../images/logo.png") no-repeat;
  display: block;
  margin: 0 auto;
  width: 92px;
  height: 24px;
  background-size: contain;

}
.link-cabinet{
  float: right;
  margin: -5px 0 0;
  text-decoration: none;
  &:hover{
    color: #f0e2e1;
    text-decoration: none;
  }
  i{
    color: #fff;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .icon-user{
    margin: 0 3px 0 0;
  }
  .icon-caret-down{
    position: relative;
    top: 3px;
  }
}

.nav-menu{
  li{
    border-bottom: 1px solid #aa4d3e;
    &:first-child{
      border-top: 1px solid #aa4d3e;
    }
  }
  .logo{
    margin: 24px auto 15px;
    width: 100px;
    height: 15px;
  }
  a{
    text-decoration: none;
    color: #fff;
    height: 61px;
    font-family: "helveticaneuecyrlight";
    font-size: 15px;
    text-transform: uppercase;
    display:block;
    padding: 0 0 0 18px;
    line-height: 61px;
    width: 100%;
    @include box-sizing(border-box);
    i{
      color: #2c1612;
      font-size: 23px;
      position: relative;
      top: 4px;
      margin: 0 18px 0 0;
    }
    &:hover{
      background: #b05649;
      i{
        color: #ffffff;
      }
    }
  }
}
.menu-btn{
  background: none;
  display: inline-block;
  float: left;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  margin: -8px 0 0 -30px;
}
.pushy-active .site-overlay{
    display: block;
}

.pushy{
  background: none repeat scroll 0 0 #df5f4b;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 230px;
  z-index: 9999;
  transition: transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0s;

}
.pushy-left {
  transform: translate3d(-230px, 0px, 0px);
}
.pushy-open {
  transform: translate3d(0px, 0px, 0px);
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-three-bars:before {
  content: "\f05e";
}
.icon-home:before {
  content: "\e600";
}
.icon-file:before {
  content: "\e601";
}
.icon-credit:before {
  content: "\e602";
}
.icon-location:before {
  content: "\e603";
}
.icon-calendar:before {
  content: "\e604";
}
.icon-mobile:before {
  content: "\e605";
}
.icon-user2:before {
  content: "\e606";
}
.icon-users:before {
  content: "\e607";
}
.icon-user3:before {
  content: "\e608";
}
.icon-key:before {
  content: "\e609";
}
.icon-lock:before {
  content: "\e60a";
}
.icon-unlocked:before {
  content: "\e60b";
}
.icon-cog:before {
  content: "\e60c";
}
.icon-pie:before {
  content: "\e60d";
}
.icon-bars:before {
  content: "\e60e";
}
.icon-close:before {
  content: "\e60f";
}
.icon-checkmark:before {
  content: "\e610";
}
.icon-minus:before {
  content: "\e611";
}
.icon-plus:before {
  content: "\e612";
}
.icon-googleplus:before {
  content: "\e613";
}
.icon-facebook:before {
  content: "\e614";
}
.icon-instagram:before {
  content: "\e615";
}
.icon-pinterest:before {
  content: "\e616";
}
.icon-search:before {
  content: "\e617";
}
.icon-user:before {
  content: "\f007";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-add-new-photo:before,
.add-new-photo:before {
  content: "\e618";
}
.icon-icon-trash-o:before,
.icon-trash-o:before{
  content: "\f014";
}
.icon-mail:before {
  content: "\e619";
}
.icon-pencil:before {
  content: "\e61a";
}
.icon-user-add:before {
  content: "\e622";
}
.icon-cart:before {
  content: "\e61b";
}
.icon-lock2:before {
  content: "\e623";
}
.icon-plus5:before {
  content: "\e621";
}
.icon-info:before {
  content: "\e61c";
}
.icon-arrow-left:before {
  content: "\e61d";
}

.icon-arrow-right:before {
  content: "\e620";
}
.icon-arrow-down:before {
  content: "\e61e";
}
.icon-arrow-up:before {
  content: "\e61f";
}
